.hero-foot {
	padding-right: 10px;
	padding-left: 10px;
}

a p {
	padding: 0 5px;
}

.nav-left {
	padding-left: 10px;
	padding-top: 15px;
}

.fa-twitter {
	padding-left: 5px;
}

.grid{
	margin: auto;
	margin-top: 20px;
}

.cards {
	max-width: 200px;
}

.grid-item {
	width: 200px;
	margin-bottom: 10px;
}